body {
	font-family: 'Pathway Gothic One', sans-serif;
	letter-spacing: 3px;
}

a {
	&:hover {cursor: pointer;}
}

#canvas {
	postion: relative;
	margin: 7% 10%;	
}

#logo {
	>a {font-size: 35px;}
	>p {font-size: 20px;}
}

#topNav {
	position: relative;
	float: right;
	margin: -90px auto;
	// z-index: 890;
	>a {padding: 10px;}
}

.pageDivider {
	border-bottom: 1px solid #ddd;
}